:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}
/* Globales */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /*1rem = 10px*/
  font-family: 'Krub', sans-serif;
}
.contenedor{
  max-width: 120rem;
  margin: 0 auto;
}
.boton{
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width:90%;
  text-align: center;
}
@media (min-width: 768px) {
 .boton{
   width: auto;
 } 
}

/* Tipografias */
h1{
  font-size: 3.8rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 1.8rem;
}
h1,h2,h3{
  text-align: center;
}


/* Titulo */
.titulo span {
  font-size: 2rem;
}

/* Navegaciòn principal */
.nav-bg{
  background-color: var(--secundario);
}

.navegación-principal{
 display: flex;
 flex-direction: column;
 
}
@media (min-width: 768px) {
  .navegación-principal{
    flex-direction: row;
    justify-content: space-between;
  }
}


.navegación-principal a{
  display: block;
  text-align: center;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}
.navegación-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

/* Hero */
.hero {
background-image: url("/static/img/doctor.jpg");
background-repeat: no-repeat;
background-size:contain ;
background-position:right ;
height: 450px;
position: relative;
}
.contenido-hero{
position: absolute;
background-color: rgba(0,0,0,.7); /** Anterior **/
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: left;
justify-content: center;
}
.boton{
  width: min-content;
}
.contenido-hero h2,
.contenido-hero p{
  color: var(--blanco);
  text-align: left;
}

div.menu_superior{
  width: 100%;
  height: 8rem;
  background-color: var(--oscuro);
  color: var(--blanco);
  display: flex;
  align-items: center;
}
div.menu_superior h1{
  text-align: left;
  font-size: 2.8rem;
  display: flex;
  flex-direction: column;
  margin-right: 80%;
}

div#menu{
  
  position: absolute;
  width:25rem;
  height: 100%;
  background-color: var(--gris);
  text-align: center;
}


div.rutas {
  width: 12 rem;
  height: 4rem;
  margin-top: 5rem;

}
div.rutas a{
  text-decoration: none;
   color: var(--blanco);
 font-size: 2rem;
  font-weight: 700;
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 1rem;
}
div.rutas a:hover{
  background-color: var(--blanco);
  color: var(--secundario);
}
div.contenedor-inicio{
  margin-left: 25rem;
}


.lista ul li{
  margin-top: 2rem;
  padding: 1rem;
  background-color: gainsboro;
  border: 0.1rem solid var(--oscuro);
}
.lista ul a{
  background-color: var(--secundario);
  color: var(--blanco);
  border: 0.1rem solid var(--oscuro);
  padding: 0.1rem;
  margin-left: 90%;
  text-decoration: none;
}

.lista a{
  background-color: var(--secundario);
  color: var(--blanco);
  border: 0.1rem solid var(--oscuro);
  padding: 0.7rem;
  text-decoration: none;
  margin-left: 4rem;
}

.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#037E8C;
}

.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}
