<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Clientes</title>
    <link rel="preload" href="static/css/normalize.css" as="style">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="static/css/styles.css" as="style">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="menu_superior">
        <h1>Camino Simón Bolívar</h1>
        
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="40" height="40" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="12" cy="7" r="4" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
          </svg>
    </div>
    <div id="menu">

        <div class="rutas">
            <a href="#">Inicio</a>
            <a href="citas.html">Citas</a>
            <a href="#">Contacto</a>
            <a href="index.html">Cerrar Sesión</a>

        </div>
    </div>

    <div class="contenedor-inicio">
        <header>
            <h1 class="titulo">Camino <span> Simón Bolívar </span></h1>
        </header>
    
        <section class="hero">
            <div class="contenido-hero ">
                <h2>Clinica General</h2>
        
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="88" height="88"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFC107" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="12" cy="11" r="3" />
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                </svg>
                    Cartagena de Indias, Colombia</p>
                <a class="boton" href="#">Agendar cita</a>
            </div>
            
        </section>
    
    
        <main>
            <h2>Nuestros Servicios</h2>
    
            <section>
                <h3>Citas Medicas </h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" />
                    <line x1="13" y1="8" x2="15" y2="8" />
                    <line x1="13" y1="12" x2="15" y2="12" />
                  </svg>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit optio tempora similique architecto
                    error ut asperiores quae, ratione tenetur. Consectetur error, commodi ea quod quia ipsa aperiam aut
                    officia quidem?</p>
            </section>
    
            <section>
                <h3>Resultados exámenes de patología </h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stethoscope" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1" />
                    <path d="M8 15a6 6 0 1 0 12 0v-3" />
                    <path  d="M11 3v2" />
                    <path  d="M6 3v2" />
                    <circle cx="20" cy="10" r="2" />
                  </svg>
    
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit optio tempora similique architecto
                    error ut asperiores quae, ratione tenetur. Consectetur error, commodi ea quod quia ipsa aperiam aut
                    officia quidem?</p>
           </section>
    
            <section>
                <h3>Resultados exámenes radiológicos</h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-medical" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                    <rect x="9" y="3" width="6" height="4" rx="2" />
                    <line x1="10" y1="14" x2="14" y2="14" />
                    <line x1="12" y1="12" x2="12" y2="16" />
                </svg>
    
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit optio tempora similique architecto
                    error ut asperiores quae, ratione tenetur. Consectetur error, commodi ea quod quia ipsa aperiam aut
                    officia quidem?</p>

            </section>
        </main> 
    </div>


</body>
</html>